{% for producto, form in productos_con_form %}
    <tr>
        
            <td>
                <div class="d-flex">
                    <img src="{{ producto.producto.imagen.url }}" class="img-producto-carrito">
                    <div class="descripcion-producto-carrito">
                        <h4>{{ producto.producto.nombre }}</h4>
                        <p>{{ producto.producto.descripcion }}</p>
                    </div>
                </div>             
            </td>
            <td>
                <form id="form-{{ producto.id }}" method="post" 
                    action="{% url 'carritocompras:actualizar-producto' producto=producto.id %}">
                    {% csrf_token %}
                        {{ form.cantidad}}
                </form>
            </td>
            <td>{{ producto.producto.precio }}</td>
            <td>{{ producto.precio_total }}</td>
            <td>
                <form method="post" action="{% url 'carritocompras:eliminar-producto' producto=producto.id %}" 
                    style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </form>                
            </td>
        
    </tr>
{% endfor %}


