{% load static %}
<div class="offcanvas offcanvas-end offcanvasProducto" data-bs-scroll="true" tabindex="-1" id="offcanvasProducto" style="z-index: 7000">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img src="{% static 'img/establecimiento/Promocion1.webp' %}" />
        <div class="nombre-descripcion-producto">
            <h4> Combo Alitas </h4>
            <p> Combo de ricas alitas con papas </p>
        </div>
        <div class="container-opciones">
            <p class="opcion-title"> ¿Qué sabor quieres tus alitas? </p>
            <div class="d-flex align-align-items-center justify-content-between m-2 mb-3">
                <p> Seleccionar (1) </p>
                <span> Obligatorio </span>
            </div>
            <div class="opciones">
                <div class="form-check middle-option">
                    <label class="form-check-label" for="checkbox1">
                        BBQ
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox1" value="option1">
                </div>
                <div class="form-check middle-option">
                    <label class="form-check-label" for="checkbox2">
                        Pimienta limón
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox2" value="option2">
                </div>
                <div class="form-check middle-option">
                    <label class="form-check-label" for="checkbox3">
                        Búfalo
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox3" value="option2">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="checkbox4">
                        Habanero
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox4" value="option2">
                </div>
            </div>
            
        </div>
        <div class="container-opciones">
            <p class="opcion-title"> ¿Qué sabor quieres tus aderezo? </p>
            <div class="d-flex align-align-items-center justify-content-between m-2 mb-3">
                <p> Seleccionar (1) </p>
                <span> Obligatorio </span>
            </div>
            <div class="opciones">
                <div class="form-check middle-option">
                    <label class="form-check-label" for="checkbox1">
                        Ranch
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox1" value="option1">
                </div>
                <div class="form-check middle-option">
                    <label class="form-check-label" for="checkbox2">
                        Habanero mango
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox2" value="option2">
                </div>
                <div class="form-check middle-option">
                    <label class="form-check-label" for="checkbox3">
                        Teriyaki
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox3" value="option2">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="checkbox4">
                        Tamarindo-Chile
                    </label>
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="checkbox4" value="option2">
                </div>
            </div>
        </div>
    </div>
</div>