@media (max-width: 1199px) {
    /* Navbar */
    #navbar{
        display: none;
    }

    /* Header-container */
    .header-container,
    .header-container .background-image,
    .header-container .dark-shadow {
        height: 500px !important;
    }
  
    .info-header-container{
        height: 500px !important;
    }
  
    .info-header-container form{
        margin-bottom: 150px !important;
    }
  
    .categorias-busquedas-filtros-top{
        margin-top: 450px !important;
    }

    .position-breadcrumb{
        margin-top: 500px;
    }

    .establecimiento-container{
        top: 400px;
    }
}

@media (min-width: 1200px) {
    #navbar-hamburger {
        display: none;
    }
}

@media (max-width: 1439px) {
    .responsive-cards{
        gap: 25px;  
    }

    .cards-container {
        gap: 25px; 
        justify-content: flex-start; 
    }

    .restaurant-card {
        width: 600px;
    }
  
    .container-restaurants .left{
        margin-right: 20px;
    }
}

@media (min-width: 1440px) {
    .cards-container {
        justify-content: space-between;
    }
}

@media (max-width: 1221px) {
    .categorias-productos-container .productos-container {
        grid-template-columns: repeat(2, 1fr);
        overflow-x: auto;
    }

    .categorias-productos-container .productos-container .producto-card{
        margin: auto;
    }
}