@media (max-width: 991px) {
    
    /* Header container */
    .header-container,
    .header-container .background-image,
    .header-container .dark-shadow {
        height: 400px !important;
    }
  
    .info-header-container{
        height: 400px !important;
    }
  
    .info-header-container form{
        margin-bottom: 100px !important;
    }
  
    .categorias-busquedas-filtros{
        margin-top: 350px !important;
    }
  
    .info-header-container form h2{
        font-size: 24px !important;
    }
  
    .info-header-container form button i{
        height: 15px !important;
        width: 15px !important;
    }
  
    .cp-form{
        height: 40px !important;
    }
  
    .search-cp-control{
        font-size: 16px !important;
        height: 20px;
    }
  
    .search-btn i{
        font-size: 20px !important;
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
    }
  
    .logo-section {
        margin-bottom: 30px;
    }
  
    .footer-links {
        flex-direction: column;
        gap: 30px;
    }
  
    .social-media {
        margin-top: 30px;
    }
}