@media (max-width: 769px) {

    /* Navbar */
    .promo-banner {
        display: none;
    }

    .navbar-brand{
        width: 100%;
    }

    .logo-container {
        background-color: var(--primary-green);
        clip-path: none;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 50px;
        padding-left: 20px;
    }
      
    .hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 15px;
        margin-right: 15px;
        align-items: flex-end;
    }
      
    .hamburger-icon span {
        display: block;
        height: 3px;
        background-color: var(--white);
    }
    
    .hamburger-icon .hamburger-1{
        width: 100%;
    }
    .hamburger-icon .hamburger-2{
        width: 80%;
    }
    .hamburger-icon .hamburger-3{
        width: 60%;
    }
      
    .logo p {
        font-family: var(--madimi-one);
        font-size: 30px;
        font-weight: bold;
        text-shadow: 
            -2px -2px 0 var(--white),  
             2px -2px 0 var(--white),  
            -2px  2px 0 var(--white),  
             2px  2px 0 var(--white); /* Contorno blanco */
        letter-spacing: 2px;
        padding: 0px;
        margin: 0px;
    }

    .container-fluid {
        justify-content: center !important;
    }
    #busqueda-carrito-login{
        width: 100%;
        justify-content: center;
    }
    .search-form {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--gray);
        width: 80%;
    }
      
    .input-control {
        border: none;
        margin-left: 15px;
        padding: 5px 20px 5px 0px;
        width: 95%;
    }
    
    .input-control:focus{
        outline: none;
    }
      
    .search-btn {
        margin-right: 10px;
        background: transparent;
        border: transparent;
        color: var(--gray-800);
    }

    .hamburger-menu{
        top: 50px;
    }

    /* Footer */
    .footer-bottom-content {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .restaurant-row {
        display: flex;
        flex-direction: column; /* Hace que los elementos se apilen */
        align-items: center;
    }
}

@media (min-width: 769px) {
    .container-fluid {
        justify-content: flex-end !important;
    }
}

@media (max-width: 671px) {
    .categorias-productos-container .productos-container {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    .categorias-productos-container .productos-container .producto-card{
        width: 400px;
        margin: auto;
    }

    .establecimiento-container .establecimiento-nombre h2{
        font-size: 32px;
    }

    .establecimiento-container .establecimiento-detalles{
        font-size: 12px;
    }

    .establecimiento-container .image{
        width: 90px;
        height: 90px;
    }
}