{% extends "base/base.html" %}
{% block title %} Carrito {% endblock %}

{% block main_content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container-carrito-items">
        <div class="carrito-container">
            <h2>Carrito de compras</h2>
            <form method="post" action="{% url 'carritocompras:vaciar-carrito' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Vaciar carrito</button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Precio total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'includes/carrito_item.html' %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Selecciona todos los inputs cuyo id inicia con "cantidad-"
        document.querySelectorAll("[id^='cantidad-']").forEach(function(input) {
            input.addEventListener("change", function () {
                const productId = this.id.split('-')[1];
                const form = document.getElementById("form-" + productId);
                if (form) {
                    form.submit();
                }
            });
        });
    });
</script>
{% endblock %}
