{% extends "base/base.html" %}
{% block title %} Carrito {% endblock %}

{% block breadcrumbs %}
<nav class="nav-breadcrumb breadcrumb-busqueda-page">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:inicio' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Carrito de compras</li>
    </ol>
</nav>
{% endblock %}

{% block main_content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container-carrito-items">
        <div class="carrito-container">
            <h2>Carrito de compras</h2>
            <form method="post" action="{% url 'carritocompras:vaciar-carrito' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash3-fill me-2"></i>
                    Vaciar carrito
                </button>
            </form>
        </div>
        <div class="table-responsive text-center"> 
            <table class="table table-bordered table-light text-center align-middle">
                <thead class="table-success">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Precio total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'includes/carrito_item.html' %}
                </tbody>
            </table>
        </div>
        <div class="text-end carrito-pago">
            <div class="info-carrito d-flex justify-content-end align-items-center mt-2">
                <div class="descripcion">Costo de envío</div>
                <div class="precio" id="costo-envio" >$50.00 MXN</div>
            </div>
            <a href="{% url 'carritocompras:detalles-carrito' %}" 
                    class="me-0 md-auto mt-2">
                Total a pagar ${{ carrito.total_carrito }} MXN
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}    
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Selecciona todos los inputs cuyo id inicia con "cantidad-"
        document.querySelectorAll("[id^='cantidad-']").forEach(function(input) {
            input.addEventListener("change", function () {
                const productId = this.id.split('-')[1];
                const form = document.getElementById("form-" + productId);
                if (form) {
                    form.submit();
                }
            });
        });
    });
</script>
{% endblock %}
